[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
pydrive = {git = "https://github.com/googledrive/PyDrive.git"}

[requires]
python_version = "3.7"
