alias get_travis_bash="cp /home/logic/_workspace/travis-playlist/travis-yml-template/bash.travis.yml ."

alias get_travis_docker="cp /home/logic/_workspace/travis-playlist/travis-yml-template/docker.travis.yml ."

alias get_travis_firebase="cp /home/logic/_workspace/travis-playlist/travis-yml-template/firebase.travis.yml ."

alias get_travis_next="cp /home/logic/_workspace/travis-playlist/travis-yml-template/next.travis.yml ."

alias get_travis_node="cp /home/logic/_workspace/travis-playlist/travis-yml-template/node.travis.yml ."

alias get_travis_python="cp /home/logic/_workspace/travis-playlist/travis-yml-template/python.travis.yml ."

alias get_travis_react="cp /home/logic/_workspace/travis-playlist/travis-yml-template/react.travis.yml ."

alias update_travis_template="cd /home/logic/_workspace/travis-playlist/travis-yml-template && ./gen.py && source scripts.rc" && cd -