.repo-link-button {
  padding-left: 0px;
}

.repo-status {
  min-height: 80px;
  min-width: 80px;

  width: calc(100% / 20);
  margin-top: 1px;
  margin-left: 1px;
}

.repo-icon-list i{
  padding-right: 3px;
}

.repo-status-content {
  width: 95%;
  margin: auto;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
}

.branch-badge-name-plate {
  white-space: nowrap;
  /* overflow: hidden; */
}

.repo-status .branch-badge {
  width: 50%;
}

.branch-badge-container {
  display: flex;
  align-content: space-between;
}