.test {
  background-color: gold;
  width: 100vw;
  height: 90vh;
}

.loading-progress-background{
  width: 100vw;
  height: 90vh;

  display: flex;
  flex-direction: row nowrap;
  justify-content: center;
  align-items: center;
}

.loading-progress {
  height: 50%;
  width: 50%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.loading-progress-text-status {

  display:flex;
  flex-direction: row nowrap;
  justify-content: center;
  align-items: center;
  height: 50%;
}

.loading-progress-bar{
  width: 50%;
}