.repo-status {
  height: 5vh;
  width: calc((100% / 20));
}

.repo-status-content {
  width: 95%;
  margin: auto;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
}

.branch-badge-name-plate {
  white-space: nowrap;
  overflow: hidden;
}

.repo-status .branch-badge {
  width: 50%;
}

.branch-badge-container {
  display: flex;
  align-content: space-between;
}